%h1 Listing ad_computer_accounts

= link_to 'New AD Computer Account', new_ad_computer_account_path

%table
  %tr
    %th Domain
    %th Machine Account
    %th OU
    %th
    %th
    %th

  - @ad_computer_accounts.each do |ad_computer_account|
    %tr
      %td= ad_computer_account.domain
      %td= ad_computer_account.machine_account
      %td= ad_computer_account.ou
      %td= link_to 'Show', ad_computer_account
      %td= link_to 'Edit', edit_ad_computer_account_path(ad_computer_account)
      %td= link_to 'Destroy', ad_computer_account, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
