!!!
%html.full-height{'ng-app' => 'Cube'}
  %head
    %title= content_for?(:title) ? yield(:title) : Cube::Application
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.full-height
    .div.container-fluid
      .row
        .col-md-1
          = link_to(image_tag('cube-logo.png', class: 'cube-logo'), root_url)
        .col-md-9
          .h3.text-left
            %abbr{title: 'Kafkaesque'}= 'Cube'
        .col-md-1
          - if current_user.image_url
            = link_to(image_tag(current_user.image_url, class: 'current-user-gravatar', alt: 'Gravatar'), user_url(current_user.id))
        .col-md-1
          = link_to(button_tag('Log out', class: 'btn btn-danger'), logout_url)
      .main-container.row
        .col-md-1
          %ul.nav.nav-pills.nav-stacked
            %li= navbar_link_to('Devices', devices_url)
            = navbar_link_to('IPv4', ipv4_addresses_url)
            = navbar_link_to('AD', ad_computer_accounts_url)
            = navbar_link_to('Users', users_url)

        .container.full-height.footer-padding.pull-left
          - flash.each do |message|
            %div{:class => ['alert-message', flash_class(message.first)]}
              %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert'} &times;
              = message.try(:last)
          = yield

    .div.main-footer
      %p.text-centered= link_to(CONFIG['cube']['maintainer_url_title'], CONFIG['cube']['maintainer_url'], target: 'blank')
      %p.text-centered= mail_to(CONFIG['cube']['maintainer_email'], CONFIG['cube']['maintainer_email_title']).html_safe
